<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNWithOCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F307E941F164FD2000364EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F307EAD1F164FD2000364EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F307EB81F164FD2000364EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
